# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
_update_repository.bat

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
log/
results/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.bak

# user specific overrides
_update_repository.bat
